[submodule "third_party/neurokit2"]
	path = third_party/neurokit2
	url = https://github.com/neuropsychology/NeuroKit.git
[submodule "third_party/physiokit"]
	path = third_party/physiokit
	url = https://github.com/PhysiologicAILab/PhysioKit.git
[submodule "third_party/pyshimmer"]
	path = third_party/pyshimmer
	url = https://github.com/seemoo-lab/pyshimmer.git
[submodule "third_party/RGBTPhys_CPP"]
	path = third_party/RGBTPhys_CPP
	url = https://github.com/PhysiologicAILab/RGBTPhys_CPP.git
[submodule "third_party/FactorizePhys"]
	path = third_party/FactorizePhys
	url = https://github.com/PhysiologicAILab/FactorizePhys.git
[submodule "third_party/MMRPhys"]
	path = third_party/MMRPhys
	url = https://github.com/PhysiologicAILab/MMRPhys.git
[submodule "third_party/TC001_SAMCL"]
	path = third_party/TC001_SAMCL
	url = https://github.com/PhysiologicAILab/TC001_SAMCL.git
[submodule "third_party/Shimmer-C-API"]
	path = third_party/Shimmer-C-API
	url = https://github.com/ShimmerEngineering/Shimmer-C-API.git
[submodule "third_party/ShimmerAndroidAPI"]
	path = third_party/ShimmerAndroidAPI
	url = https://github.com/ShimmerEngineering/ShimmerAndroidAPI.git
[submodule "third_party/Shimmer-Java-Android-API"]
	path = third_party/Shimmer-Java-Android-API
	url = https://github.com/ShimmerEngineering/Shimmer-Java-Android-API.git
